.task-1 {
width: 440px;
height: 888px;
gap: 24px;
display: inline-flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
border-radius: 8px;
background: #FFF;
}
.ul-task-1{
  list-style: none;
  display: inline-flex;
padding: 0;
flex-direction: column;
align-items: flex-start;
gap: 8px;
background: #F6F6FE;

}
.ul-li-task-1{
  width: 360px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #808080;
color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
display: flex;
align-items: center;
padding-left: 16px;


}
.item{
  border-radius: 8px;
background: #F6F6FE;
list-style: none;
display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 8px;


}
.h2-task-1 {
  color: #2E2F42;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: 0.96px;
margin: 0;

}

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

ul.gallery li {
  list-style: none;
}

ul.gallery img {
  border-radius: 5px;
}